<html>
<head>
<link rel="stylesheet" media="all" type="text/css" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" media="all" type="text/css" href="http://localhost/accit-moodle/accit/admin/tool/timestamp/templates/css/jquery-ui-timepicker-addon.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="http://localhost/accit-moodle/accit/admin/tool/timestamp/templates/css/jquery.modal.min.css" />
<style>

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.pagination li a.current_page {
    background-color: #4CAF50;
    color: white;
}
ul.pagination li.dot {
   
    color: #000;
}
ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd; /* Gray */
 margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #c8eabe; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.myButton {
	background-color:#44c767;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:2px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
</style>
</head>
<div><br/>
<form name="search" autocomplete="off" action="index.php" method="POST">
<table ><tr><td>
  <div class="autocomplete" style="width:195px;">
    <input id="coursename" type="text" name="coursename" placeholder="Type your Course Name..." value="{{{postcoursename}}}" >
 <input id="courseid" type="hidden" name="courseid" value="{{{cid}}}" />
  </div>
  
</td>



<td>
  <div class="autocomplete" style="width:195px;">
    <input id="assessmentname" type="text" name="assessmentname" placeholder="Type your Assessment Name..." value="{{{postassessmentname}}}" >
 <input id="assessmentid" type="hidden" name="assessmentid" value="{{{aid}}}" />
  </div>
  
</td>



<td>
  <div class="autocomplete" style="width:195px;">
    <input id="studentname" type="text" name="studentname" placeholder="Type your Student Name..." value="{{{poststudentname}}}" >
 <input id="studentid" type="hidden" name="studentid" value="{{{sid}}}" />
  </div>
  
</td>
<td><div class="autocomplete" style="width:195px;">
    <input id="studentusername" type="text" name="studentusername" placeholder="Type your Student User Name..." value="{{{poststudentusername}}}" >
 <input id="studentuserid" type="hidden" name="studentuserid" value="{{{suid}}}" />
  </div>
  
</td>
<td><input class="myButton" type="submit" name="search" id="search" value=" Search " onclick="javascript: if(document.getElementById('coursename').value=='' && document.getElementById('studentname').value=='' && document.getElementById('studentusername').value=='') { alert('Please select any course or student from the drop down list only!'); return false; }" /></td>
<td>&nbsp;</td><td><input class="myButton" type="button" onclick="javascript: window.location.href='index.php?showall=1';" name="showall" id="showall" value=" Reset " /></td></tr></table>
</form>
<br/>
<br/>
--OR--
<br/>
<br/>

<form name="searchnew" autocomplete="off" action="index.php" method="POST">
<table ><tr><td>Select Year</td>
<td>
  <select name="selectyear" id="selectyear">
 <option value="">Select Year</option>
  <option value="2020">2020</option>
  <option value="2021">2021</option>
  <option value="2022">2022</option>
  <option value="2023">2023</option>
  <option value="2024">2024</option>
  
  </select>
</td>



<td>
  Select Term
</td>
<td>
  <select name="selectterm" id="selectterm">
  <option value="">Select Term</option>
  <option value="1">TERM 1</option>
  <option value="2">TERM 2</option>
  <option value="3">TERM 3</option>
  <option value="4">TERM 4</option>
  </select>
</td>
<td><input class="myButton" type="submit" name="searchnew" id="searchnew" value=" Search " onclick="javascript: if(document.getElementById('selectyear').value=='' || document.getElementById('selectterm').value=='') { alert('Please select Year and Term!'); return false; }" /></td>

</tr>
</table>
</form>
<div align="right"><i>Total {{{listcount}}} record(s) found</i></div><br/>
<br/>
{{#sid}}
<div style="float: right;" ><input class="myButton" type="button" onclick="javascript: window.location.href='index.php?showallstudent=1&studentid={{{sid}}}';" name="showallstudent" id="showallstudent" value=" View All " />
</div>{{/sid}}
<div style="width:100px;"></div>
<div style="float: right;" ><input type="button" name="create_excel" id="create_excel" value=" Download Excel " class="myButton" onclick="javascript: window.open('createexcel.php', '_blank')" /></div>
<br/>
<br/>
<form action="" method="POST" name="f" id="f" autocomplete="off">

<table cellspacing="11" cellpadding="10" style="border: 1px solid #aaa;font-size: 14px!important;" width="100%">                                 
<tr style="background-color: #ddd; font-weight: bold;"><td>ID</td><td><a href="index.php?sorttype=assignment&sort={{{sortval}}}&showallstudent={{{showallstudent}}}" title="Click to sort">ASSIGNMENT</a></td><td>STUDENT</td><td>RESULT</td><td>TRAINER/GRADER</td><td>OBSERVATION CHECKLIST</td></tr>                                                                            
  {{#user}}                                                                                                             
  <tr><td>{{rowid}}</td>   
          <td><a href="ajax/assignment.php?id={{assignmentid}}&showallstudent={{{showallstudent}}}" rel="modal:open">{{assignmentname}}</a></td>
          <td><a href="ajax/user.php?id={{userid}}" rel="modal:open">{{name}}</a></td>
         <td>{{result}}</td>
<td>{{gradername}}</td>
<td>{{#obs_url}} <a href="{{obs_url}}" target="_blank">{{obs_url}}</a>{{/obs_url}}{{^obs_url}}NA{{/obs_url}}</td>
</tr>    <input type="hidden" name="updateid" id="updateid" value="{{rowid}}" />
 
<input type="hidden" name="updateidarray[]" id="updateidarray[]" value="{{rowid}}" />
<input type="hidden" name="assid[]" id="assid[]" value="{{assignmentid}}" />
<input type="hidden" name="userid[]" id="userid[]" value="{{userid}}" />
<input type="hidden" name="graderid[]" id="graderid[]" value="{{graderid}}" />
<input type="hidden" name="gradeitemid[]" id="gradeitemid[]" value="{{gradeitemid}}" />
{{/user}}  
 {{^user}}
  <tr><td colspan="9">No records found!</td></tr>
{{/user}} </table> <input type="hidden" name="page" id="page" value="{{page}}" />
<!-- <input type="hidden" name="userid" id="userid" value="{{userid}}" /> -->
<!-- <input type="hidden" name="assid" id="assid" value="{{assignmentid}}" /> -->
 <input type="hidden" name="updateform" id="updateform" value="1" />  
<input type="hidden" name="sort" id="sort" value="{{sortvalold}}" />
<input type="hidden" name="sorttype" id="sorttype" value="{{sorttype}}" />     
<input type="hidden" name="showallstudent" id="showallstudent" value="{{{showallstudent}}}" />     </form>                                                                                
</div>

<!-- <div>
			<input type="text" name="input_example_1" id="input_example_1" class="mmm" value="08/20/2014 01:22 pm" />
			
		</div>	-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
		<script type="text/javascript" src="http://localhost/accit-moodle/accit/admin/tool/timestamp/templates/js/jquery-ui-timepicker-addon.js"></script>
		<script type="text/javascript" src="http://localhost/accit-moodle/accit/admin/tool/timestamp/templates/i18n/jquery-ui-timepicker-addon-i18n.min.js"></script>
		<script type="text/javascript" src="http://localhost/accit-moodle/accit/admin/tool/timestamp/templates/js/jquery-ui-sliderAccess.js"></script>

		<script type="text/javascript">
			
			$(function(){
				$('#tabs').tabs();
		
				$('.example-container > pre').each(function(i){
					eval($(this).text());
				});
			});
			
		</script>
<script>
$('.newdate1').datetimepicker({
	timeInput: true,
	timeFormat: "hh:mm tt",
        changeMonth: true,
        changeYear: true
});
$('.newdate2').datetimepicker({
	timeInput: true,
	timeFormat: "hh:mm tt",
        changeMonth: true,
        changeYear: true
});
</script>
<script>
function autocomplete(inp, arr, type) { 


  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
var res = arr[i].split("|"); 
var idval = res[1];
var coursename = res[0];
//document.getElementById('coursename').value=coursename;
        /*check if the item starts with the same letters as the text field value:*/
        if (coursename.substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + coursename.substr(0, val.length) + "</strong>";
          b.innerHTML += coursename.substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input name='stuid' id='stuid' type='hidden' value='" + idval + "'>";
          b.innerHTML += "<input name='stuname' id='stuname' type='hidden' value='" + coursename + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) { 
              /*insert the value for the autocomplete text field:*/
             // inp.value = this.getElementsByTagName("input")[0].value; 
                if(type==1)
                {
                    inp.value = this.getElementsByTagName("input")[1].value; 
                    document.getElementById("courseid").value = this.getElementsByTagName("input")[0].value; 
                }
                else if(type==2)
                {
                    inp.value = this.getElementsByTagName("input")[1].value; 
                    document.getElementById("studentid").value = this.getElementsByTagName("input")[0].value; 
                }
                else if(type==3)
                {
                    inp.value = this.getElementsByTagName("input")[1].value; 
                    document.getElementById("studentuserid").value = this.getElementsByTagName("input")[0].value; 
                }
                else 
                {
                    inp.value = this.getElementsByTagName("input")[1].value; 
                    document.getElementById("assessmentid").value = this.getElementsByTagName("input")[0].value; 
                }
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
var res='';
var studentname = '';
var idval = '';
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}
var final_arr = {{{coursestr}}}; 
var final_arr_stu = {{{studentsstr}}}; 
var final_arr_stu_username = {{{studentsstrusername}}}; 
var final_arr_assessment = {{{assessmentstr}}}; 
//var course_arr = ["Afgha sdewwew 456456 nistan-20","Albania-21","Malaysia-33",];
//var arr = '';
//{{#course_arr}}
//var arr = arr+'"{{{coursename}}}*{{{courseid}}}"'+",";
//{{/course_arr}}
//var final_arr = "["+arr+"]";
//alert(final_arr);
autocomplete(document.getElementById("coursename"), final_arr,'1');
autocomplete(document.getElementById("studentname"), final_arr_stu,'2');
autocomplete(document.getElementById("studentusername"), final_arr_stu_username,'3');
autocomplete(document.getElementById("assessmentname"), final_arr_assessment,'4');
</script>
</html>